/*-------------
 COMMON
------------ */

.container{
    max-width: 75rem;
    margin: auto;
    padding: 1.25rem 1.25rem;
}

.section-margin{
    margin-top: 1.25rem;
}

/*-------------
 /COMMON
------------ */