@import url(reset.css);
@import url(common.css);
@import url(variables.css);

/*-------------
 HEADER
------------ */

header{
    background-color: var(--first-color);
}

.header-row{
    display: flex;
    justify-content: space-between;
}

.header-nav{
    display: none;
}

.nav-list{
    display: flex;
    list-style: none;
}

.nav-link{
    padding: 0 .3125rem;
}

@media screen and (min-width: 1024px){
    .burger-menu{
        display: none;
    }

    .header-nav{
        display: flex;
    }
}

/*-------------
 /HEADER
------------ */

/*-------------
 MAIN
------------ */



/*-------------
 /MAIN
------------ */