@import url(reset.css);
@import url(common.css);
@import url(variables.css);

/*-------------
 HEADER
------------ */

header{
    background-color: var(--first-color);
}

.header-row{
    display: flex;
    justify-content: space-between;
}

.header-nav{
    display: none;
}

.nav-list{
    display: flex;
    list-style: none;
}

.nav-link{
    padding: 0 .3125rem;
}

/* Responsive Desktop */
@media screen and (min-width: 1024px){
    .burger-menu{
        display: none;
    }

    .header-nav{
        display: flex;
    }
}
/* /Responsive Desktop */

/*-------------
 /HEADER
------------ */

/*-------------
 MAIN
------------ */

/* Higlights Section */

.highlights-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.highlights-col{
    width: 100%;
    margin-bottom: 1.5625rem;
    padding: 1.25rem 1.25rem;
    border-radius: 1.25rem;
    background-color: var(--second-color);
}

/* Responsive Tablet */
@media screen and (min-width: 726px) {
    .highlights-col:first-child{
        width: calc( (98% / 3) *2 );
    }
                                                        
    .highlights-col{
        width: 31%;
    }
}

/* Responsive Desktop */
@media screen and (min-width: 1025px) {
    .highlights-col:first-child{
        width: calc( (98% / 3) *2 );
    }

    .highlights-col{
        width: 31%;
    }
}

/* /Higlights Section */

/* Strategics Section */

.strategics{
    background-color: var(--third-color);
}

.strategics-row{
    display: flex;
    flex-wrap: wrap;
}

.strategics-col{
    width: 100%;
    margin: 1.5625rem 0;
    /* DEBUG */
    background-color: aqua;
    /* /DEBUG */
}

/* Responsive Desktop */
@media screen and (min-width: 1025px) {
    .strategics-row{
        justify-content: space-between;
    }

    .strategics-col{
        width: 48%;
    }

    .strategics-small{
        align-self: flex-end;
    }
}

/* /Strategics Section */

/* Staff Section */

.staff-row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.staff-col{
    width: 100%;
    margin: 1.25rem 0;
    /* DEBUG */
    background-color: beige;
    /* /DEBUG */
}

.staff-card{
    background-color: var(--third-color);
}

/* /Staff Section */

/* Benefits Section */

.benefits{
    background-color: var(--third-color);
}

.benefits-title{
    text-align: center;
    color: white;
    font-size: 1.5625rem;
    padding: 2.1875rem 0;
}

.benefits-row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.benefits-col{
    width: 100%;
    margin-bottom: 1.5625rem;
    padding: 1.25rem 1.25rem;
    border-radius: 1.25rem;
    background-color: white;
}

/* Responsive Tablet */
@media screen and (min-width: 726px) {

    .benefits-row{
        justify-content: space-between;
    }

    .benefits-col{
        width: 48%;
    }
}

/* Responsive Desktop */
@media screen and (min-width: 1025px) {

    .benefits-row{
        justify-content: space-between;
    }

    .benefits-col{
        width: 31%;
    }
}

/* /Benefits Section */
/*-------------
 /MAIN
------------ */