@import url(reset.css);
@import url(buttons.css);
@import url(common.css);
@import url(variables.css);

/*-------------
 HEADER
------------ */

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 20%);
    z-index: 100;
    background-color: var(--first-color);
}

.header-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo{
    width: 75%;
}

.burger-menu{
    font-size: 1.5625rem;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}

.header-nav{
    display: none;
}

.nav-list{
    display: flex;
    list-style: none;
}

.nav-link{
    text-decoration: none;
    color: white;
    padding: 0 .625rem;
}

/* Responsive Desktop */
@media screen and (min-width: 1024px){
    .burger-menu{
        display: none;
    }

    .header-nav{
        display: flex;
    }
}
/* /Responsive Desktop */

/*-------------
 /HEADER
------------ */

/*-------------
 MAIN
------------ */

/* Higlights Section */

.highlights{
    margin-top: 6.25rem;
}

.highlights-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.highlights-col{
    width: 100%;
    text-align: center;
    margin-bottom: 1.5625rem;
    padding: 0 1.25rem;
    padding-top: 1.25rem;
    border-radius: 1.25rem;
    background-color: var(--second-color);
}

.high-main-title{
    color: var(--first-color);
}

.highlights-text{
    color: #5a6e7f;
    padding: 1.25rem 0;
    font-size: 1.125rem;
}

.highlights-img{
    width: 100%;
    padding-top: .9375rem;
}

.high-icons{
    color: var(--first-color);
    font-size: 3.125rem;
}

.high-title{
    color: var(--first-color);
    padding-top: .9375rem;
}

/* Responsive Tablet */
@media screen and (min-width: 726px) {
    .highlights-col:first-child{
        text-align: left;
        width: calc( (98% / 3) *2 );
    }

    .highlights-img{
        width: 100%;
    }
                                                        
    .highlights-col{
        width: 31%;
    }
}

/* Responsive Desktop */
@media screen and (min-width: 1025px) {
    .highlights-col:first-child{
        width: calc( (98% / 3) *2 );
    }

    .high-card-container{
        position: relative;
        display: flex;
        align-items: center;
    }


    .highlights-col{
        width: 31%;
    }
}

/* /Higlights Section */

/* Strategics Section */

.strategics{
    background-color: var(--third-color);
}

.strategics-row{
    display: flex;
    flex-wrap: wrap;
}

.strategics-col{
    width: 100%;
    margin: 1.5625rem 0;
    /* DEBUG */
    background-color: aqua;
    /* /DEBUG */
}

/* Responsive Desktop */
@media screen and (min-width: 1025px) {
    .strategics-row{
        justify-content: space-between;
    }

    .strategics-col{
        width: 48%;
    }

    .strategics-small{
        align-self: flex-end;
    }
}

/* /Strategics Section */

/* Staff Section */

.staff-row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.staff-col{
    width: 100%;
    margin: 1.25rem 0;
    /* DEBUG */
    background-color: beige;
    /* /DEBUG */
}

.staff-card{
    background-color: var(--third-color);
}

/* Responsive Tablet */
@media screen and (min-width: 726px) {
    .staff-col{
        display: flex;
        justify-content: space-between;
    }
}

/* /Staff Section */

/* Benefits Section */

.benefits{
    background-color: var(--third-color);
}

.benefits-title{
    text-align: center;
    color: white;
    font-size: 1.5625rem;
    padding: 2.1875rem 0;
}

.benefits-row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.benefits-col{
    width: 100%;
    margin-bottom: 1.5625rem;
    padding: 1.25rem 1.25rem;
    border-radius: 1.25rem;
    background-color: white;
}

/* Responsive Tablet */
@media screen and (min-width: 726px) {

    .benefits-row{
        justify-content: space-between;
    }

    .benefits-col{
        width: 48%;
    }
}

/* Responsive Desktop */
@media screen and (min-width: 1025px) {

    .benefits-row{
        justify-content: space-between;
    }

    .benefits-col{
        width: 31%;
    }
}

/* /Benefits Section */

/* About Us Section */

.about-us{
    margin-bottom: 1.5625rem;
}

.about-us-row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.about-us-col{
    width: 100%;
    margin-bottom: 1.5625rem;
}

/* Responsive Tablet */
@media screen and (min-width: 726px) {

    .about-us-row{
        justify-content: space-between;
    }

    
    .about-us-col, .about-us-col-small{
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    .about-us-col{
        width: 63%;
        align-self: flex-start;
    }

    .about-us-col-small{
        width: 35%;
    }
}

/* /About Us Section */

/*-------------
 /MAIN
------------ */

/*-------------
 FOOTER
------------ */

/* Footer Section One */

.footer-one{
    text-align: center;
    background-color: var(--third-color);
}

.footer-text{
    padding-top: .9375rem;
    padding-bottom: .9375rem;
}

.first-title{
    font-size: 1.25rem;
}

.footer-list{
    padding-bottom: 1.25rem;
}

.footer-nav-link{
    display: inline;
}


/* /Footer Section One */

/* Footer Section two */

.footer-two{
    text-align: center;
    padding-bottom: .625rem;
    background-color: var(--footer-two-color);
}

.footer-two-text{
    color: white;
    padding-top: 1.25rem;
    padding-bottom: 1.875rem;
}

/* /Footer Section two */

/*-------------
 /FOOTER
------------ */